html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}

body p {
    font-size: 16px;
}

.top-nav {
    display: block;
}

.navlogo {
    padding-left: 80px;
    padding-top: 10px;
}

a.logo {
    text-decoration: none;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 28px;
}

.top-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.top-nav ul li a:hover {
    color: #afafaf;
    transition: 0.15s ease-in;
}

#section-landing {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper-landing {
    position: relative;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    top: 10%;
    left: 5%;
}

.wrapper-landing h1 {
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    font-weight: 100;
    font-style: italic;
}

.wrapper-landing h2 {
    font-size: 42px;
    color: #ffffff;
    opacity: 0.9;
    margin: 0;
    font-weight: 100;
    font-style: italic;
}

.container h1 {
    font-size: 48px;
    color: #333333;
    margin: 0;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 38px;
    color: #333333;
    font-weight: 100;
}

.container h3 {
    font-size: 26px;
    color: #333333;
    font-weight: 100;
}

.container h3.listview {
    margin-top: 40px;
}

.container h4 {
    font-size: 20px;
    font-weight: bold;
}

.btn-login {
    border: 1px solid #ffffff;
    padding: 6px 24px;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px #1a1a1a;
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
    padding: 20px 10px;
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login form input {
    margin: 5 auto;
}

.container form {
    margin-top: 2%;
}

.container input,
select {
    width: 200px;
    height: 45px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    display: block;
    position: relative;
    margin: 5px;
}

.container input[type="date"] {
    font-size: 16px;
}

.container select {
    font-size: 16px;
}

input::placeholder {
    color: #1a1a1a;
    font-size: 16px;
    padding-left: 2px;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.container .invalidFeedback {
    font-size: 16px;
    color: rgb(220, 20, 60);
    font-style: italic;
    font-weight: bold;
    border: 1px solid rgb(220, 20, 60);
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(220, 20, 60, 0.1);
    margin: 5px;
}

.container .successFeedback {
    font-size: 16px;
    color: #188d3b;
    font-style: italic;
    font-weight: bold;
    border: 1px solid rgb(144, 238, 144);
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(144, 238, 144, 0.1);
    margin: 5px;
}

table {
    border: solid #1a1a1a;
    border-width: 0.1px;
    font-size: 16;
    border-collapse: collapse;
}

th {
    background-color: #333333;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px 15px;
    margin: 0;
}

th.edit,
th.delete,
td.edit,
td.delete {
    width: 60px;
}

td {
    padding: 10px 15px;
    text-align: center;
}

tr:nth-child(even) {
    background: #CCC
}

i.fa-edit {
    color: #121412;
}

i.fa-edit:hover {
    color: #3c65be;
    transition: 0.2s;
}

i.fa-trash-alt {
    color: #121412;
}

i.fa-trash-alt:hover {
    color: rgb(220, 20, 60);
    transition: 0.2s;
}

i.back {
    margin-right: 5px;
}

i.logo {
    font-size: 40px;
}

i.fab.fa-bitcoin {
    color: rgb(175, 151, 12);
}

i.fab.fa-ethereum {
    color: rgb(202, 201, 201);
}

.wrapper-center {
    text-align: center;
}

.wrapper-center table {
    margin: 0 auto;
}

.wrapper-center form input {
    margin: 10 auto;
}

.wrapper-center select {
    margin: 10 auto;
}

label {
    font-size: 17px;
    padding: 10px 5px;
}

p.back {
    margin-top: 35px;
}